.navbar{
    background-color: black;

    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;

    a{
        /* border: 2px red solid; */
        color: white;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3rem 2rem;

        &:hover{
            cursor: pointer;
            background-color: white;
            color: black;
        }

    }
}